

.family-content {
    width: 1100px;
    max-height: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin-left: 200px;
    box-sizing: border-box;
}

.family-title {
    font-family: 'Imprima', serif;
    font-size: 4rem;
    /* Увеличиваем расстояние до следующего текста */
    margin-bottom: 60px; 
    color: #01B7E0;
}

.members-subtitle {
    font-family: 'Inika', sans-serif;
    font-size: 2rem;
    color: #8DA3B3;
    margin-top: 0px; /* Убираем лишний отступ сверху */
    margin-bottom: 5px; /* Маленький зазор перед линией */
}

.separator-line {
    width: 30%; /* Твоя настройка ширины */
    border: none;
    border-top: 2px solid #D9D9D9;
    /* margin-top: 0 делает линию впритык к Family Members */
    /* margin-bottom: 30px создает отступ до списка юзеров */
    margin: 0 0 30px 0; 
    align-self: flex-start; /* Если хочешь, чтобы линия была слева, а не по центру */
}

.members-list {
    width: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    padding-right: 15px;
    flex-grow: 1;
}

.member-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.member-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.member-avatar-small {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #000;
    object-fit: cover;
}

.member-name {
    font-size: 2rem;
    font-family: 'Inika', serif;
    color: #7D88EC;
}

.member-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.role-text-label {
    font-family: 'Imprima', sans-serif;
    font-size: 2rem;
    text-transform: lowercase;
    color: #7D88EC; /* Синий как в ссылках */
}



button:hover {
    background: #333;
}

.bottom-actions {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    padding-bottom: 50px;
}


