.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #7D88EC;
  font-family: 'Inika', sans-serif;
  font-size: 4rem;
  text-align: center;
}

.btn-main {
  background: #000000;
  color: #D6EFD7;
  padding: 20px 160px;
  border-radius: 30px;
  text-decoration: none;
  font-family: "Imprima", sans-serif;
  transition: background 0.2s;
  font-size: 2rem;
}

.btn-main:hover {
  background: #222222;
}
